#contact {
  padding: 20px;
  text-align: left;
  margin-left: 300px;
  margin-right: 300px;
}
#contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@media (max-width: 1000px) {
  #contact {
    margin-left: 20px;
    margin-right: 20px;
  }
}
