#contact {
  padding: 20px;
  text-align: left;
  width: fit-content;
  position: relative;
  align-self: center;
}
#contact-info {
  display: flex;
  flex-direction: column;
  font-family: "Signika Negative";
}
#contact-info div {
  margin-bottom: -1rem;
  margin-top: -1rem;
}
#contact-info img {
  filter: invert();
  transform: scale(120%);
  margin-right: 0.5rem;
}
#social-links a:hover {
  background-color: inherit;
  filter: sepia(100%) saturate(1600%) hue-rotate(0deg);
}
#social-links img:hover {
  transform: scale(150%);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
p {
  font-size: 20px;
}

@media (max-width: 1000px) {
  #contact {
    margin-left: 20px;
    margin-right: 20px;
  }
}
